

<form action="/admin/data_base" method="post">

<p>ph:</p>
<p id="ph"></p>
<hr>
<input type="text"  name="ph">
<br>

<p>oxigenio dissolvido</p>
<p id="oxi"></p>
<hr>
<input type="text"  name="oxigenio">
<br>

<p>Condutividade da agua</p>
<p id="cond"> </p>
<hr>
<input type="text"  name="condutividade">
<br>
<p >salinidade da agua</p>
<p id="sali"></p>
<hr>
<input type="text"  name="salinidade">
<br>
<p>temperatura da agua</p>
<p id="temp"></p>
<input type="text"  name="temperatura">
<hr>

<button type="submit">envia</button>

</form>