<!DOCTYPE html>
<html lang="en">
<head>
    <title>PRAEC</title>
<link href="/assets/css/img/logo_praec.png" rel="icon">
  <link href="/assets/css/img/logo_praec.png" rel="apple-touch-icon">
</head>
<body>
    {{{body}}}
</body>
</html>