
<form action="/" method="post" id="enviar">
<input type="text" name="usuario" value={{usuario}} hidden >
<input type="text" name="senha" value={{senha}} hidden>
</form>


<script>
const form =document.getElementById("enviar")
   
  form.submit()

</script>
